@model DTW.Repository.User.UserModel

@{
    ViewData["Title"] = "Créer un utilisateur";
}

<h1>Créer un utilisateur</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserForeName" class="control-label"></label>
                <input asp-for="UserForeName" class="form-control" />
                <span asp-validation-for="UserForeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserSurName" class="control-label"></label>
                <input asp-for="UserSurName" class="form-control" />
                <span asp-validation-for="UserSurName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label"></label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Créer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retourner à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
